@page
@model ASPNET.Pages.MVCModel
@{
    ViewData["Title"] = "ASP.NET MVC";
}

<div class="container">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
        <section>
            <h2>ASP.NET MVC</h2>
            <p>ASP.NET MVC is a pattern-based framework for building web applications following the Model-View-Controller (MVC) architectural pattern</p>
            <ul>
                <li>Follows the Model-View-Controller (MVC) architectural pattern.</li>
                <li>Offeres greater control over HTML markup and client-side scripting.</li>
                <li>Supports test-driven development (TDD).</li>
            </ul>
            <p>Learn more about ASP.NET MVC <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">here</a>.</p>
        </section>
    </main>
</div>