@page
@model WebForms
@{
    ViewData["Title"] = "ASP.NET Web Forms";
}

<div class="container">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
        <section>
            <h2>ASP.NET Web Forms</h2>
            <p>APS.NET Web Forms is a framework for building web application using a drag-and-drop, event-driven model.</p>
            <ul>
                <li>Rich server-side controls for building complex UI.</li>
                <li>ViewState for maintaining state between postbacks.</li>
                <li>Less control over HTML output compared to other ASP.NET frameworks.</li>
            </ul>
            <p>Learn more about ASP.NET Web Forms <a href="https://learn.microsoft.com/en-us/aspnet/web-forms/">here</a>.</p>
        </section>
    </main>
</div>
